spring:
  profiles:
    include:
      - db
      - aws
      - credentials
#  h2:
#    console:
#      enabled: true
#  datasource:
#    driverClassName: org.h2.Driver
#    url: jdbc:h2:./yum-yum-trend-db;AUTO_SERVER=TRUE
#    username: sa
#    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
    generate-ddl: false
#    database-platform: org.hibernate.dialect.H2Dialect # 나중에 mysql 로 변경
  redis:
    host: localhost
    port: 6379

#logging:
#  level:
#    org:
#      hibernate:
#        SQL: error # debug
#        type:
#          descriptor:
#            sql: trace
jwt:
  secret: javainuse
